[Unit]
Description=C++ daemon for accessing the I2P network
After=network.target

[Service]
Type=forking
Restart=on-abnormal
PIDFile=/run/i2pd.pid
User=i2pd
Group=i2pd
PermissionsStartOnly=yes
ExecStartPre=/bin/touch /run/i2pd.pid /var/log/i2pd.log
ExecStartPre=/bin/chown i2pd:i2pd /run/i2pd.pid /var/log/i2pd.log
ExecStart=/usr/bin/i2pd --conf=/etc/i2pd.conf

[Install]
WantedBy=multi-user.target

